# Virtual environments
venv/
.env/

# IDE settings
.idea/

# Python bytecode
__pycache__/
*.pyc

# Mac system file
.DS_Store

# PDF and YAML files (from any folder)
*.pdf
*.yaml
*.yml


# Ignore markdown files
*.md

/Users/Programming/Desktop/Programming/100 Days of Python Angela Yu/100 Days of Python - The Complete Bootcamp/Day 37/Habit Tracker/main.py